<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InventarioTI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <InventarioTI.Properties.Settings>
            <setting name="ConectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Unidade" serializeAs="String">
                <value />
            </setting>
            <setting name="Responsavel" serializeAs="String">
                <value />
            </setting>
            <setting name="Matricula" serializeAs="String">
                <value />
            </setting>
            <setting name="Impressora" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Temp" serializeAs="String">
                <value />
            </setting>
            <setting name="UnidadeT" serializeAs="String">
                <value />
            </setting>
            <setting name="Resolucao" serializeAs="String">
                <value>0</value>
            </setting>
        </InventarioTI.Properties.Settings>
    </userSettings>
</configuration>